*.log
*.coverage
.pytest_cache/
htmlcov/ # Cobertura de testes HTML

venv/
.venv/
coverage/

node_modules/

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.test

*.dump
*.zip
.uploads/
uploads/

.idea/ # Pycharm/IntelliJ
.vscode/ # Visual Studio Code

.txt
requirements.txt!